#navbar{
    position:absolute;
    left: 0px;
    top: 312px;
}
@media screen and (min-width: 600px) {
    body {
      background-color: white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  }